body {
  display: grid;
  grid-template-columns: repeat(20, 5%);
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  background-image: url(./World_location_map_\(equirectangular_180\).svg.png);
  background-repeat: repeat;
}

main {
  grid-row: 1/span 5;
  grid-column: 1/ span 20;
}

aside {
  grid-row: 2/span 4;
  grid-column: 19/ span 2;
}

section {
  grid-row: 2/span 3;
  grid-column: 6/span 10;
  border: 1px solid black;
  background-color: #aaa;
  text-align: center;
  height: 100%;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

header {
  grid-row: 1;
  grid-column: 1/ span 20;
  display: flex;
}

h1 {
  grid-column: 1;
  grid-row: 1/span 8;
  display: inline-block;
}

.hamburger {
  grid-row: 1;
  grid-column: 20;
  display: inline-block;
  margin: auto;
  margin-right: 0;
}

.hidden {
  display: none;
}

.flags {
  font-size: 2rem;
  grid-row: 1/ span 1;
  grid-column: 2/ span 10;
  height: 3rem;
  width: 50%;
  overflow: scroll;
}

.flag-icon {
  display: inline;
}