body {
  display: grid;
  grid-template-columns: 1fr 10rem;
  grid-template-rows: 5rem 1fr;
}

main {
  grid-row: 2;
  grid-column: 1/ span 1;
}

aside {
  grid-row: 2;
  grid-column: 2/ span 1;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

header {
  grid-row: 1;
  grid-column: 1/ span 2;
  display: flex;
}

h1 {
  grid-column: 1;
  display: inline-block;
}

.hamburger {
  grid-column: 2;
  display: inline-block;
  margin: auto;
  margin-right: 0;
}

.hidden {
  display: none;
}

.flags {
  font-size: 1.5rem;
}